<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sync.syncapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Needed for native Google+ login -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name=".SyncApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- MainActivity -->
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AddUserActivity -->

        <!-- Auth0 Lock -->
        <activity
            android:name="com.auth0.lock.LockActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Lock.Theme" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="boboddy.auth0.com"
                    android:scheme="a0sutttilZfWs0l2Y2NAFq9fdj8AKdkzKZ" />

                <!-- Why the hell does it send back a lowercase version?!? -->
                <data
                    android:host="boboddy.auth0.com"
                    android:scheme="a0sutttilzfws0l2y2nafq9fdj8akdkzkz" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.auth0.lock.client-id"
            android:value="sutttilZfWs0l2Y2NAFq9fdj8AKdkzKZ" />
        <meta-data
            android:name="com.auth0.lock.domain-url"
            android:value="boboddy.auth0.com" />
        <!-- Auth0 Lock End -->


        <!-- AddRoomActivity -->
        <activity
            android:name=".activities.AddRoomActivity"
            android:label="@string/title_activity_add_room"
            android:parentActivityName=".activities.MainActivity">
            <intent-filter>
                <action android:name=".activities.AddRoomActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- AddFitbitActivity -->
        <activity
            android:name=".activities.AddFitbitActivity"
            android:label="@string/title_activity_add_sensor"
            android:parentActivityName=".activities.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sync.syncapp.activities.MainActivity" />
            <intent-filter>
                <action android:name=".activities.AddFitbitActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- AddPersonActivity -->
        <activity
            android:name=".activities.AddPersonActivity"
            android:label="@string/title_activity_add_person"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sync.syncapp.activities.MainActivity" />

            <intent-filter>
                <action android:name=".activities.AddPersonActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- AddESensorActivity -->
        <activity
            android:name=".activities.AddESensorActivity"
            android:label="@string/title_activity_add_esensor"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sync.syncapp.activities.MainActivity" />

            <intent-filter>
                <action android:name=".activities.AddESensorActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
